@model Database
    
@{
    ViewData["Title"] = "Prenotato";
}

<h2>Grazie @Model.Utenti.First().Nome</h2>
<p>per esserti Registrato</p>

<p>Sono stati Registrati @Model.Utenti.Count() utenti...</p>

<table class="table">
<thead class="thead-dark">
    <th>Nome</th>
    <th>Cognome</th>
    <th>Email</th>
    <th>Città</th>
</thead>
@{ 
    foreach(var item in @Model.Utenti) {
    <tr>
        <td>@item.Nome</td>
        <td>@item.Cognome</td>
        <td>@item.Email</td>
        <td>@item.Città</td>
    </tr>
    }
}

</table>